[submodule "govendor"]
	path = govendor
	url = git://github.com/cloudfoundry/govendor.git
[submodule "cassandra"]
	path = cassandra
	url = https://github.com/cdavisafc/cloudfoundry-cassandra-service.git
